.layout {
    padding-top:18px;
    padding-bottom:18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F8FE;
    font-family:"Lucida Calligraphy", cursive, serif, sans-serif;
}