.layout {
    margin: 6% 12%;
    flex-direction: column;
    align-items: center;
}
.tableNoMargin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.login-button {
  display: block;  // 定义按钮为块级元素以便整行显示
  margin: 50px auto 0;
}
.customTable {
  width: 100%;
  margin: 0 auto; // 这会使表格在页面中居中
  table-layout: auto; /* Allows the table to set column width based on content */
  box-sizing: border-box;
}
